:root{
    --white-color : #ffffff;
    --sky-blue : #87CEEB;
    --deep-blue : #4682B4;
    --lime: #7CFC00;
}

body {
    background-color: #E6E6FA;
    margin-top: 7%;
    
}

.modal {
    background-color:#F8F8FF;
  
     margin-left: 20%;
    margin-right: 10%;
     
    /* padding-bottom: 15%; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 60%; 

 

}

.first-heading {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.first-heading h3 {
    color: var(--deep-blue);
    font-size: 30px;
   
}

.first-heading h4{
   color: var(--lime);
}

.first-heading p {
color: #778899;
}




.second-heading {
   display: flex; 
   margin-top: 5%;
  
  
}

.pricing {
    background-color: var(--sky-blue);
    width: 50%;
    border-bottom-left-radius: 10px;
    text-align: center;

}

.about {
    background-color: red;
    width: 50%;
    border-bottom-right-radius: 10px;
}


 .sub {
 color: var(--white-color);
    font-size: 25px; 
    /* white-space: nowrap; */

}

.price {
    color:#D3D3D3;
}

.price span{
    color: white; 
    font-size: 35px;
}

.access {
    color: var(--white-color)
}  


button {
    width: 40%;
    background-color:var(--lime);
    padding: 14px 28px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 17px -9px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

button span {
    color: var(--white-color);
}


.why {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    padding-left: 130px;

} 

.word {
     width: 50%;
    color: #D3D3D3;
    padding-left: 100px;
    
} 

 @media (max-width:700px) { 

    .modal {
        /* padding-bottom: 30px; */
        box-shadow: -1px 2px 14px 0px rgba(0,0,0,0.75);
        margin-bottom: 10%;
    }


    .second-heading {
        flex-direction: column;
    }

    .pricing , .about{
        width: 100%;
    }

    .about {
        padding-bottom: 20px;
    }

    .why {
        font-weight: bold;
        font-size: 20px;
        color: whitesmoke;
        padding: 0;
        text-align: center;
        
    
    } 
    
    .word {
         width: 50%;
        color: #D3D3D3;
        padding-left: 0;
         margin: auto;
} 

.about  {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing {
    border-bottom-left-radius: 0;
}
 }

 @media (max-width:400px) {


     .modal {
         width: 100%;
         margin: auto;
         margin-bottom: 10%;
     }
 }
